<% include partials/header %>

<% blogs.forEach(function(blog){ %>
<div class="ui  container main text segment" >
	<div class="ui top attached segment"><div class="ui huge header"><%= blog.title %></div>
  <div class="item">
    <img class="ui centered rounded image" src="<%= blog.image %>">
  </div>
  <div class="content">
    
    <div class="meta">
      <span class="date"><%= blog.created.toDateString() %></span>
    </div>
    <div class="description">
      <%- blog.body.substring(0 , 100) %>
    </div>
    <p><a href="/blogs/<%= blog._id %>" class="ui blue button" style="color: white;">Read More</a></p>
  </div></div>
 </div>
 <br>
 <% }) %>


<% include partials/footer %>